# ==========================
# Backend
# ==========================

# Virtual Environment
backend/venv/
backend/env/
backend/.venv/

# Environment Variables
backend/.env

# Database
backend/db.sqlite3
backend/*.sqlite3

# Media & Static
backend/media/
backend/staticfiles/

# Python Cache
backend/__pycache__/
**/__pycache__/
*.py[cod]

# ==========================
# Frontend
# ==========================

# Node Modules
frontend/node_modules/

# React Build
frontend/dist/
frontend/build/

# Logs
npm-debug.log*
yarn-debug.log*
*.log

# ==========================
# VS Code
# ==========================

.vscode/

