{% extends "emails/base_email.html" %}

{% block content %}

<h2>Reset your password</h2>

<p>

Hello,

</p>

<p>

We received a request to reset your
<strong>Facebook</strong> account password.

</p>

<p>

Use the following OTP to continue resetting your password.

</p>

<div class="otp-box">

{{ otp }}

</div>

<p>

This OTP is valid for
<strong>10 minutes</strong>.

</p>

<div class="warning">

<strong>Security Notice</strong>

<br><br>

If you did not request a password reset, you can safely ignore this email.

Your password will remain unchanged unless this OTP is used.

</div>

<p style="margin-top:35px;">

Regards,

<br>

<strong>Facebook Team</strong>

</p>

{% endblock %}