/* ==========================================
   FEED
========================================== */

.feed{

    width:50%;

    transition:.3s;

}

/* ==========================================
   DARK MODE
========================================== */

body.dark .feed{

    background:transparent;

}

/* ==========================================
   LARGE LAPTOP
========================================== */

@media (max-width:1200px){

.feed{

    width:60%;

}

}

/* ==========================================
   TABLET
========================================== */

@media (max-width:992px){

.feed{

    width:70%;

}

}

/* ==========================================
   MOBILE TABLET
========================================== */

@media (max-width:768px){

.feed{

    width:100%;

}

}

/* ==========================================
   MOBILE
========================================== */

@media (max-width:576px){

.feed{

    width:100%;

}

}

/* ==========================================
   SMALL MOBILE
========================================== */

@media (max-width:400px){

.feed{

    width:100%;

}

}